<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Vintage Magic <span class="text-body-secondary">Classic Cards</span></h2>
    <p class="lead">Those were the real days of Magic; god, I miss this time. I get nostalgic... I know</p>
  </div>
  <div class="col-md-5">
    <img src="/images/car_vintage1.jpeg" alt="Vintage Image1" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
  </div>
</div>
