<div class="container row featurette text-center">
  <div class="col-md-7 text-center"> 
    <h2 class="featurette-heading fw-normal lh-1">Modern Magic <span class="text-body-secondary">New Sets Cards</span></h2>
    <p class="lead">The game is evolving my friends, it's tough now... Need to catch up?</p>
  </div>
  <div class="col-md-5"> 
    <a href="/modern"><img src="/images/magic_modern2.webp" alt="Modern Image" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"> </a>
  </div>
</div>
