<div class="modern-response">
    <% if (locals.data && Array.isArray(data) && data.length > 0) { %>
        <h2>Modern Cards</h2>
        <ul class="modern-grid">
            <% data.forEach(card => { %>
                <li>
                    <h3><%= card.name %></h3>
                    <img src="<%= card.image_uris.small %>" alt="<%= card.name %> Image"/>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No cards available</p>
    <% } %>
</div>