<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/commanderkamiz1.jpeg" class="d-block commander-img w-100" alt="Modern New Magic">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Discover Modern Magic</h1>
            <p class="opacity-75">New set? Let's dive in!</p>
            <p><a class="btn btn-sm btn-secondary" href="/modern">See more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/magic33wow.webp" class="d-block w-100" alt="Modern Magic">
        <div class="container">
          <div class="carousel-caption">
            <p>Let's play some Modern Magic</p>
            <p><a class="btn btn-sm btn-secondary" href="/modern/newsets">See more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/MTG-Commander1.jpeg" class="d-block w-100" alt="Commander Baby">
        <div class="container">
          <div class="carousel-caption text-end">
            <p>Let's have some fun!</p>
            <p><a class="btn btn-sm btn-secondary" href="/modern/commander">See more</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
