* { 
    box-sizing: border-box;
}
html, body { 
    height: 100vh; 
}

body { 

       background-color: #343a40;
           color: white;
}
.nav-item.timer-clock { 
height: auto;
}
.timer-clock {
    border-radius: 5px;
    position: relative;

}

.timer {
    text-align: center;
    position: relative; 
    display: flex; 
}

.date,
.time {
    font-size: 0.7rem;
    font-weight: bold;
    display: inline-block;
    margin: 4px 5px 8px;
    position: relative; 
    top: 50%;
    transform: translateY(50%);
}

.date {
    color: #fefbfd; 
    left: 0;
}

.time {
    color: #036a38; 
}

.carousel-item img {
    width: 100%;
    max-height: 300px;
    object-fit:contain;
    background-color: #343a40;
}

.carousel-inner { 
     backdrop-filter: blur(100px);
}
.featurette { 
    background-color: #afb2b6;
}

hr { 
    color: white;
    max-width: 200px;
      margin-left: auto;
  margin-right: auto;
}

footer { 
    padding: 10px;
}

.commander-img { 
     position: relative;
    top: 30px;
}

.container.row.featurette { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.featurette img {
    width: 70%;
    height: auto;
 }

 .random-card { 
    display: flex;
    justify-content: center;
  background-image: url(../images/magic33wow.webp);
    background-color: #1f1f1f; 
      background-repeat: repeat; 
  background-size: cover;
  background-blend-mode:color-dodge;
    width: 100%;
    padding: 10px;
 }

 .card-body { 
  background-image: url(../images/magic_modern2.webp);
  mix-blend-mode:difference;
    background-color: #ffffff; 
      background-repeat: repeat; 
        background-size:auto;
      color: white;
      text-align: center;
 }

 .card-title { 
    font-size: 1.5rem;
 }

 li.list-group-item { 
    background-color: #1f1f1f;
 }
.card-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  background-color: #007bff; 
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card-link:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
  color: #fff;
}



 h3 { 
    text-align: center;
 }

