* { 
    box-sizing: border-box;
}
html, body { 
    height: 100vh; 
}

body { 

       background-color: #343a40;
           color: white;
}
.nav-item.timer-clock { 
height: auto;
}
.timer-clock {
    border-radius: 5px;
    position: relative;

}

.timer {
    text-align: center;
    position: relative; 
    display: flex; 
}

.date,
.time {
    font-size: 0.7rem;
    font-weight: bold;
    display: inline-block;
    margin: 4px 5px 8px;
    position: relative; 
    top: 50%;
    transform: translateY(50%);
}

.date {
    color: #fefbfd; 
    left: 0;
}

.time {
    color: #036a38; 
}

.carousel-item img {
    width: 100%;
    max-height: 300px;
    object-fit:contain;
    background-color: #343a40;
}

.carousel-inner { 
     backdrop-filter: blur(100px);
}
.featurette { 
    background-color: #afb2b6;
}

hr { 
    color: white;
    max-width: 200px;
      margin-left: auto;
  margin-right: auto;
}

footer { 
    padding: 10px;
}

.commander-img { 
     position: relative;
    top: 30px;
}

.row.featurette { 
    display: flex;
    align-items: center;
}

.row.featurette img {
    width: 80%;
    height: auto;
 }